<div class="box box-default">
    <div class="box-header with-border">
      <h4 class="box-title">Thêm mới</h4>
    </div>
    <!-- /.box-header -->
    <div class="box-body wizard-content">
        <form action="#" class="validation-wizard wizard-circle wizard clearfix" role="application" id="steps-uid-2" novalidate="novalidate" name="myForm"><div class="steps clearfix"></div><div class="content clearfix">
            <!-- Step 1 -->
            <h6 id="steps-uid-2-h-0" tabindex="-1" class="title current">Step 1</h6>
            <section id="steps-uid-2-p-0" role="tabpanel" aria-labelledby="steps-uid-2-h-0" class="body current" aria-hidden="false">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="wfirstName2"> Tên danh mục : <span class="danger">*</span> </label>
                            <input type="text" ng-model="inputs.name" class="form-control required" id="wfirstName2" name="firstName"> 
                        </div>
                    </div>
                </div>
            </section>
        </div><div class="actions clearfix"><ul role="menu" aria-label="Pagination"><li class="disabled" aria-disabled="true"><a href="#previous" role="menuitem">Previous</a></li><li aria-hidden="false" aria-disabled="false"><a ng-click="onUpdate()" role="menuitem">Next</a></li></ul></div>
    </form>
    </div>
    <!-- /.box-body -->
  </div>